<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appender name="ErrorFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/error.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    
    <appender name="InfoFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/info.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    
    <logger name="com.example.todolist" level="error">
        <appender-ref ref="ErrorFile" />
        <appender-ref ref="Console" />
    </logger>

    
    <logger name="com.example.todolist" level="info">
        <appender-ref ref="InfoFile" />
        <appender-ref ref="Console" />
    </logger>

</configuration>


